.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
config/*.sphinx.conf
config/schema.db
config/database.yml
db/sphinx
db/schema.rb
coverage
solr
public/cache
public/system
tags
*.swp
*.swo
rerun.txt
specifications
cache
gems
test
*~
Thumbs.db
