<h1><%= t("titles.speakers.devinvale") %></h1>
<p>O AgileVale 2011 foi um sucesso absoluto onde mais de 600 pessoas confraternizaram o conhecimento sobre metodologias ágeis e engenharia de software. Durante o evento foi identificado uma grande quantidade de profissionais que desejam um evento focado em desenvolvimento de software, e com isso nasce o DevInVale 2011. Serão 10 palestras com renomados profissionais da indústria trazendo os mais diversos assuntos sobre desenvolvimento.</p>
<br />
<p>Mais uma vez a comunidade conta com o apoio do ITA e de várias empresas que acreditam no potencial da nossa comunidade.</p>
<br />

<h1><%= t("titles.speakers.index") %></h1>
<p>Em breve os palestrantes do evento.</p>
<br />

<%= render :partial => 'sponsors'%>