<h1><%= t("titles.speakers.index") %></h1>

<div id="speakers">

	<p>Muito em breve a descrição das palestras :)</p>

	<!--
	<div class="box">
		<a name="robson-junior" />
		<%= link_to "http://www.twitter.com/bsao", :target => "_blank" do %>
			<%= image_tag "/images/organization/robson-junior.jpg", :title => "Robson Júnior - ITA" %>
		<% end %>
		
		<p><strong>Palestra no DevInVale</strong> - 9:00h</p>
		<br />
		<p>Mais uma vez a comunidade conta com o apoio do ITA e de várias empresas que acreditam no potencial da nossa comunidade.</p>
		<br />

		<p><strong>Robson Júnior</strong></p>
		<p>O AgileVale 2011 foi um sucesso absoluto onde mais de 600 pessoas confraternizaram o conhecimento sobre metodologias ágeis e engenharia de software. Durante o evento foi identificado uma grande quantidade de profissionais que desejam um evento focado em desenvolvimento de software, e com isso nasce o DevInVale 2011. Serão 10 palestras com renomados profissionais da indústria trazendo os mais diversos assuntos sobre desenvolvimento.</p>
	</div>
	-->
		
</div>
