<div id="venue">
	
	<h1><%= t("titles.venue.index") %></h1>

	<div class="map">
	<img src="/images/venue/map.jpg" title="Mapa do ITA" />
	</div>

	<div class="address">
	<h2 class="title">ITA - Instituto Tecnológico de Aeronáutica</h2>
	<h3 class="auditorio">Auditório B</h2>

	<p>Praça Marechal Eduardo Gomes, 50 - Vila das Acácias<br />CEP 12.228-900 - São José dos Campos / SP - Brasil</p>

	<a href="http://goo.gl/6JE4X" tilte="Mapa para o ITA">Mapa para o ITA</a>
	
	<br />
	<br />

	<a href="http://www.ita.br" tilte="ITA - Instituto Tecnológico de Aeronáutica">
		<img src="/images/venue/ita-brand.png" title="ITA - Instituto Tecnológico de Aeronáutica" />
	</a>


	</div>

</div>
